{% load static %} {% load customfilter %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {% if page_title %}
    <title>{{ page_title }} | {{system_name}} </title>
    {% else %}
    <title>{{system_name}}</title>
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/DataTables/datatables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/default/css/style.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'assets/default/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/default/js/script.js' %}"></script>
    <style>
        .modal-sub-footer {
            display: flex;
            flex-wrap: wrap;
            flex-shrink: 0;
            align-items: center;
            justify-content: flex-end;
            padding: 0.75rem;
            border-top: 1px solid #dee2e6;
            border-bottom-right-radius: calc(0.3rem - 1px);
            border-bottom-left-radius: calc(0.3rem - 1px);
        }
        
        #viewer_modal #img-viewer {
            position: relative;
        }
        
        #viewer_modal #img-viewer img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: scale-down;
            object-position: center center;
            transition: all .2s ease-in-out;
        }
        body{
            background-image:url("{% static 'assets/default/img/bg1.jpg' %}");
            background-size:cover;
            background-repeat:no-repeat;
            background-position:center center;
        }
    </style>
    {% block headerContent %} {% endblock headerContent %}
</head>

<body class="">
    {% if topbar %} {% block TopNavigation %} {% include "TopNavigation.html" %} {% endblock TopNavigation %} {% endif %}
    <main class="py-5">
        <div class="container mb-3">
            {% if messages %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    {% for message in messages %}
                    <div class="alert alert-{% if message.extra_tags %}{{ message.tags|replaceBlank:message.extra_tags|replaceBlank:' ' }}{% else %}{{ message.tags }}{% endif %} w-100 rounded-0 mb-2 redirect-msg">
                        <div class="d-flex w-100">
                            <div class="col-auto flex-shrink-1 flex-grow-1">{{ message|safe }}</div>
                            <div class="col-auto text-center">
                                <button class="btn-close btn-sm text-sm" type="button" onclick="$(this).closest('.alert').remove()"></button>
                            </div>
                        </div>

                    </div>
                    {% if message.extra_tags != 'stay' %}
                    <script>
                        $(function() {
                            if ($('.redirect-msg').length > 0) {
                                setTimeout(() => {
                                    $('.redirect-msg').hide('slideUp')
                                    setTimeout(() => {
                                        $('.redirect-msg').remove()
                                    }, 500)
                                }, 3500)
                            }

                        })
                    </script>
                    {% endif %} {% endfor %}
                </div>
            </div>{% endif %} {% block pageContent %} {% endblock pageContent %}

        </div>
    </main>
    {% block ScriptBlock %} {% endblock ScriptBlock %}
    <div class="modal fade" id="uni_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn  btn-sm btn-flat btn-primary rounded-0" id='submit' onclick="$('#uni_modal form').submit()">Save</button>
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="modal-sub-footer">
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="confirm_modal" role='dialog'>
        <div class="modal-dialog modal-md modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                </div>
                <div class="modal-body">
                    <div id="delete_content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-flat btn-primary rounded-0" id='confirm' onclick="">Continue</button>
                    <button type="button" class="btn btn-sm btn-flat btn-light border rounded-0" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="viewer_modal" role='dialog'>
        <div class="modal-dialog modal-fullscreen" role="document">
            <div class="modal-content rounded-0 bg-transparent">
                <div class="modal-body bg-transparent d-flex flex-column w-100 h-100 align-items-center justify-content-center">
                    <div class="text-end w-100 px-5">
                        <a class="text-decoration-none text-light" href="javascript:void(0)" data-bs-dismiss="modal"><i class="fa fa-times fs-3"></i></a>
                    </div>
                    <div id="img-viewer" class="w-75 h-75 bg-dark overflow-auto">
                        <img src="" class="image-thumbnail" id="img-viewer-field" />
                    </div>
                    <div class="w-25 d-flex justify-content-center pt-3">
                        <div class="input-group mb-3">
                            <button class="btn btn-dark bg-gradient btn-sm text-light" type="button" id="zoom-minus"><i class="fa fa-minus"></i></button>
                            <input type="text" id="zoom-value" class="form-control form-control-sm rounded-0 w-25 bg-dark bg-gradient border-dark text-light text-center" value="100" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" readonly>
                            <button class="btn btn-dark bg-gradient btn-sm text-light" type="button" id="zoom-plus"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Footer-->
    {% if footer %}
    <footer class="bg-light text-lg-start">
        <!-- <div class="py-4 text-center">
            <a role="button" class="btn btn-primary btn-lg m-2" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow" target="_blank">
        Learn Bootstrap 5
      </a>
            <a role="button" class="btn btn-primary btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank">
        Download MDB UI KIT
      </a>
        </div>

        <hr class="m-0" /> -->

        <!-- <div class="text-center py-4 align-items-center">
            <p>Follow MDB on social media</p>
            <a href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.facebook.com/mdbootstrap" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/MDBootstrap" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/mdbootstrap/mdb-ui-kit" class="btn btn-primary m-1" role="button" rel="nofollow" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div> -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © {% now 'Y' %} Copyright:
            <a class="text-dark" href="https://sourcecodester.com/tips23" target="_blank">Inzamamul Haque Ashique</a>
        </div>
        <!-- Copyright -->
    </footer>
    {% endif %}
    <script>
        const loader = $('<div>')
        loader.attr('id', 'pre-loader')
        loader.html('<div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>')

        window.start_loader = function() {
            $('body').removeClass('loading')
            if ($('#pre-loader').length > 0)
                $('#pre-loader').remove();
            $('body').append(loader)
            $('body').addClass('loading')
        }
        window.end_loader = function() {
            if ($('#pre-loader').length > 0)
                $('#pre-loader').remove();
            $('body').removeClass('loading')
        }
        window.uni_modal = function($title = '', $url = '', $size = "") {
            start_loader()
            $.ajax({
                url: $url,
                error: err => {
                    console.log()
                    alert("An error occured")
                },
                success: function(resp) {
                    if (resp) {
                        $('#uni_modal .modal-title').html($title)
                        $('#uni_modal .modal-body').html(resp)
                        if ($size != '') {
                            $('#uni_modal .modal-dialog').addClass($size + '  modal-dialog-centered')
                        } else {
                            $('#uni_modal .modal-dialog').removeAttr("class").addClass("modal-dialog modal-md modal-dialog-centered")
                        }
                        $('#uni_modal').modal({
                            backdrop: 'static',
                            keyboard: false,
                            focus: true
                        })
                        $('#uni_modal').modal('show')
                        end_loader()
                    }
                }
            })
        }
        window._conf = function($msg = '', $func = '', $params = []) {
            $('#confirm_modal #confirm').attr('onclick', $func + "(" + $params.join(',') + ")")
            $('#confirm_modal .modal-body').html($msg)
            $('#confirm_modal').modal('show')
        }

        $(function() {
            $('#viewer_modal').on('shown.modal.bs', function() {
                $('#zoom-value').val(100)
                $('#img-viewer img').css(
                    'transform',
                    'scale(1)'
                )

            })
            $('#zoom-plus').click(function() {
                var scale = parseFloat($('#zoom-value').val())
                if (scale >= 200) return false;
                scale += 10
                $('#zoom-value').val(scale)
                scale = scale / 100
                $('#img-viewer img').css(
                    'transform',
                    'scale(' + (scale) + ')'
                )
            })
            $('#zoom-minus').click(function() {
                var scale = parseFloat($('#zoom-value').val())
                if (scale <= 0) return false;
                scale -= 10
                $('#zoom-value').val(scale)
                scale = scale / 100
                $('#img-viewer img').css(
                    'transform',
                    'scale(' + (scale) + ')'
                )
            })

        })
    </script>
</body>

</html>
