{% load qr_code %}{% load static %}
<div class="container-fluid">
    <form action="" id="user-form">
        <input type="hidden" name="id" value="{{user.id}}">
        <input type="hidden" name="manage_user" value="1">
        <div class="form-group mb-3">
            <label for="first_name" class="control-label">First Name</label>
            <input type="text" class="form-control rounded-0" name="first_name" id="first_name" value="{% if form.data.first_name %}{{ form.data.first_name }}{% else %}{{ user.first_name }}{% endif %}" required="required">
        </div>
        <div class="form-group mb-3">
            <label for="last_name" class="control-label">Last Name</label>
            <input type="text" class="form-control rounded-0" name="last_name" id="last_name" value="{% if form.data.last_name %}{{ form.data.last_name }}{% else %}{{ user.last_name }}{% endif %}" required="required">
        </div>
        <div class="form-group mb-3">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control rounded-0" name="username" id="username" value="{% if form.data.username %}{{ form.data.username }}{% else %}{{ user.username }}{% endif %}" required="required">
        </div>
        <div class="form-group mb-3">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control rounded-0" name="email" id="email" value="{% if form.data.email %}{{ form.data.email }}{% else %}{{ user.email }}{% endif %}" required="required">
        </div>
        {% if not user.id %}
        <div class="form-group mb-3">
            <label for="password1" class="control-label">Enter Password</label>
            <input type="password" class="form-control rounded-0" name="password1" id="password1" required="required">
        </div>
        <div class="form-group mb-3">
            <label for="password2" class="control-label">Confirm Password</label>
            <input type="password" class="form-control rounded-0" name="password2" id="password2" required="required">
        </div>
        {% endif %}
    </form>
</div>
<script>
    $(function() {
        $('#user-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-user' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    alert("An error occured", 'error');
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();
                        console.err(resp)
                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>