{% load static %}
<header>
    <!-- Intro settings -->
    <style>
        #intro {
            /* Margin to fix overlapping fixed navbar */
            margin-top: 58px;
        }
        
        @media (max-width: 991px) {
            #intro {
                /* Margin to fix overlapping fixed navbar */
                margin-top: 45px;
            }
        }
        #uni_modal .modal-sub-footer{
            display:none;
        }
    </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient fixed-top shadow border-bottom">
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand" target="_blank" href="./">
                {% comment %} <img src="{{ MEDIA_URL }}/default/logo.png" height="16" alt="{{ MEDIA_URL }}" loading="lazy" class="bg-white bg-gradient px-1 py-1" style="margin-top: -3px;" /> {% endcomment %}
                <b>{{system_name}}</b>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarExample01" aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarExample01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="topNav">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'home-page' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'department-page' %}">Departments</a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'user-page' %}">Users</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'visitor-page' %}">Visitor Logs</a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'report-page' %}">Report</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>

                <ul class="navbar-nav d-flex flex-row">
                    {% if user.id %}
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'profile-page' %}"><b>Hi, {{user.username}}</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'login-page' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar -->

    <!-- Jumbotron -->
    <div id="intro" class="pt-2 text-center bg-light">
        <!-- <h1 class="mb-3 h2">Learn Bootstrap 5 with MDB</h1>
        <p class="mb-3">Best & free guide of responsive web design</p>
        <a class="btn btn-primary m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button" rel="nofollow" target="_blank">Start tutorial</a>
        <a class="btn btn-primary m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank" role="button">Download MDB UI KIT</a> -->
    </div>
    <!-- Jumbotron -->
</header>
<script>
    $(function() {
        $('#topNav .nav-link').each(function() {
            var current = '{{ request.get_full_path | urlencode }}'
            if (current == $(this).attr('href')) {
                $(this).parent().addClass('active')
            }
        })
    })
</script>