{% extends 'base.html' %} {% load static %} {% block pageContent %}
<section class="py-4">
    <div class="container">
        <h3 class="fw-bolder text-center">List of Users</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
        </center>
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="text-end mb-3">
                        <button class="btn btn-sm btn-primary rounded-0 bg-gradient-primary" type="button" id="create_new"><i class="fa fa-plus"></i> Add New</button>
                    </div>
                    <table class="table table-bordered table-striped" id="user-tbl">
                        <colgroup>
                            <col width="5%">
                            <col width="50%">
                            <col width="30%">
                            <col width="15%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Username</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ user.first_name}} {{ user.last_name}}</td>
                                <td>{{ user.username}}</td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle" type="button" id="abtn{{user.pk}}" data-bs-toggle="dropdown" aria-expanded="false">
                                          Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="abtn{{user.pk}}">
                                            <li><a class="dropdown-item edit-data" href="javascript:void(0)" data-url="{% url 'manage-user-pk' user.pk %}"><i class="fa fa-edit text-primary"></i> Edit</a></li>
                                            <li><a class="dropdown-item delete-data" href="javascript:void(0)"  data-url="{% url 'delete-user' user.pk %}"><i class="fa fa-trash text-danger"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
    $(function() {
        $('#create_new').click(function() {
            uni_modal("<i class='fa fa-plus'></i> Add New User", "{% url 'manage-user' %}")
        })
        $('.edit-data').click(function() {
            uni_modal("<i class='fa fa-edit'></i> Edit User Details", $(this).attr('data-url'))
        })
        $('.view_image').click(function() {
            var img = $(this).attr('data-img-url')
            $('#viewer_modal #img-viewer-field').attr('src', img)
            $('#viewer_modal').modal('show')
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this User?", 'delete_user', ["'" + $(this).attr('data-url') + "'"])
        })
        $('#user-tbl').find('td, th').addClass('px-2 py-1 align-middle')
        $('#user-tbl').DataTable({
            columnDefs: [{
                orderable: false,
                targets: [3]
            }],
            lengthMenu: [
                [25, 50, 100, -1],
                [25, 50, 100, "All"]
            ]
        })
    })

    function delete_user(url) {

        var _this = $('#confirm_modal .modal-body')
        $('.err-msg').remove();
        var el = $('<div>')
        el.addClass("alert alert-danger err-msg")
        el.hide()
        start_loader()
        $.ajax({
            headers: {
                "X-CSRFToken": "{{csrf_token}}"
            },
            url: url,
            dataType: 'JSON',
            error: err => {
                console.log(err)
                alert("an error occurred.")
                end_loader()
            },
            success: function(resp) {
                if (resp.status == 'success') {
                    location.reload()
                } else if (!!resp.msg) {
                    el.html(resp.msg)
                    _this.prepend(el)
                    el.show()
                } else {
                    el.html("An error occurred")
                    _this.prepend(el)
                    el.show()
                }
                end_loader()
            }

        })
    }
</script>
{% endblock ScriptBlock %}